In [4]:
from preprocess_train_dev_data import *

In [14]:
nlq = "Which department has the minimum budget?"                                          # What is the minimum department budget? 
db_name = "department_management"                                                       # department_management
correct_query = "select Name from department order by Budget_in_Billions asc limit 1"      # SELECT 
toy = True

In [2]:
dataset = {
    "multi_sql_dataset": [],
    "keyword_dataset": [],
    "col_dataset": [],
    "op_dataset": [],
    "agg_dataset": [],
    "root_tem_dataset": [],
    "des_asc_dataset": [],
    "having_dataset": [],
    "andor_dataset":[]
}

In [9]:
table_data_path = "./data/spider/tables.json"
table_dict = get_table_dict(table_data_path)
type(table_dict)

table_data_path = ./data/spider/tables.json

dict

In [6]:
train_data_path = "./data/spider/train_spider.json"
train_data = json.load(open(train_data_path))
type(train_data)

list

In [7]:
train_data[0]

{'db_id': 'department_management',
 'query': 'SELECT count(*) FROM head WHERE age  >  56',
 'query_toks': ['SELECT',
  'count',
  '(',
  '*',
  ')',
  'FROM',
  'head',
  'WHERE',
  'age',
  '>',
  '56'],
 'query_toks_no_value': ['select',
  'count',
  '(',
  '*',
  ')',
  'from',
  'head',
  'where',
  'age',
  '>',
  'value'],
 'question': 'How many heads of the departments are older than 56 ?',
 'question_toks': ['How',
  'many',
  'heads',
  'of',
  'the',
  'departments',
  'are',
  'older',
  'than',
  '56',
  '?'],
 'sql': {'except': None,
  'from': {'conds': [], 'table_units': [['table_unit', 1]]},
  'groupBy': [],
  'having': [],
  'intersect': None,
  'limit': None,
  'orderBy': [],
  'select': [False, [[3, [0, [0, 0, False], None]]]],
  'union': None,
  'where': [[False, 3, [0, [0, 10, False], None], 56.0, None]]}}

In [8]:
from data.process_sql import *

In [17]:
db_schema = get_schema(db = "./data/spider/database/{}/{}.sqlite".format(db_name,db_name))
db_schema

{'department': ['department_id',
  'name',
  'creation',
  'ranking',
  'budget_in_billions',
  'num_employees'],
 'head': ['head_id', 'name', 'born_state', 'age'],
 'management': ['department_id', 'head_id', 'temporary_acting']}

In [19]:
Schema(schema=db_schema)

AttributeError: 'dict' object has no attribute 'iteritems'

In [18]:
get_sql(schema = db_schema, 
        query = correct_query)

AttributeError: 'dict' object has no attribute 'schema'

In [29]:
from data.parse_sql_one import *

In [30]:
sql = correct_query             #"SELECT name ,  country ,  age FROM singer ORDER BY age DESC"
db_id = db_name                 #"concert_singer"
table_file = table_data_path    # "tables.json"

schemas, db_names, tables = get_schemas_from_json(table_file)
schema = schemas[db_id]
table = tables[db_id]
schema = Schema(schema, table)
sql_label = get_sql(schema, sql)

In [31]:
sql_label

{'except': None,
 'from': {'conds': [], 'table_units': [('table_unit', 0)]},
 'groupBy': [],
 'having': [],
 'intersect': None,
 'limit': 1,
 'orderBy': ('asc', [(0, (0, 5, False), None)]),
 'select': (False, [(0, (0, (0, 2, False), None))]),
 'union': None,
 'where': []}