In [4]:
from preprocess_train_dev_data import *

In [14]:
nlq = "Which department has the minimum budget?"                                          # What is the minimum department budget? 
db_name = "department_management"                                                       # department_management
correct_query = "select Name from department order by Budget_in_Billions asc limit 1"      # SELECT 
toy = True

In [9]:
table_data_path = "./data/spider/tables.json"
table_dict = get_table_dict(table_data_path)
type(table_dict)

table_data_path = ./data/spider/tables.json

dict

In [6]:
train_data_path = "./data/spider/train_spider.json"
train_data = json.load(open(train_data_path))
type(train_data)

list

In [7]:
train_data[0]

{'db_id': 'department_management',
 'query': 'SELECT count(*) FROM head WHERE age  >  56',
 'query_toks': ['SELECT',
  'count',
  '(',
  '*',
  ')',
  'FROM',
  'head',
  'WHERE',
  'age',
  '>',
  '56'],
 'query_toks_no_value': ['select',
  'count',
  '(',
  '*',
  ')',
  'from',
  'head',
  'where',
  'age',
  '>',
  'value'],
 'question': 'How many heads of the departments are older than 56 ?',
 'question_toks': ['How',
  'many',
  'heads',
  'of',
  'the',
  'departments',
  'are',
  'older',
  'than',
  '56',
  '?'],
 'sql': {'except': None,
  'from': {'conds': [], 'table_units': [['table_unit', 1]]},
  'groupBy': [],
  'having': [],
  'intersect': None,
  'limit': None,
  'orderBy': [],
  'select': [False, [[3, [0, [0, 0, False], None]]]],
  'union': None,
  'where': [[False, 3, [0, [0, 10, False], None], 56.0, None]]}}

In [8]:
from data.process_sql import *

In [17]:
db_schema = get_schema(db = "./data/spider/database/{}/{}.sqlite".format(db_name,db_name))
db_schema

{'department': ['department_id',
  'name',
  'creation',
  'ranking',
  'budget_in_billions',
  'num_employees'],
 'head': ['head_id', 'name', 'born_state', 'age'],
 'management': ['department_id', 'head_id', 'temporary_acting']}

In [29]:
from data.parse_sql_one import *

In [30]:
sql = correct_query             #"SELECT name ,  country ,  age FROM singer ORDER BY age DESC"
db_id = db_name                 #"concert_singer"
table_file = table_data_path    # "tables.json"

schemas, db_names, tables = get_schemas_from_json(table_file)
schema = schemas[db_id]
table = tables[db_id]
schema = Schema(schema, table)
sql_label = get_sql(schema, sql)

In [31]:
sql_label

{'except': None,
 'from': {'conds': [], 'table_units': [('table_unit', 0)]},
 'groupBy': [],
 'having': [],
 'intersect': None,
 'limit': 1,
 'orderBy': ('asc', [(0, (0, 5, False), None)]),
 'select': (False, [(0, (0, (0, 2, False), None))]),
 'union': None,
 'where': []}

In [2]:
dataset = {
    "multi_sql_dataset": [],
    "keyword_dataset": [],
    "col_dataset": [],
    "op_dataset": [],
    "agg_dataset": [],
    "root_tem_dataset": [],
    "des_asc_dataset": [],
    "having_dataset": [],
    "andor_dataset":[]
}

In [32]:
from data.process_sql import tokenize

In [35]:
parser_item_with_long_history(tokenize(nlq), #item["question_toks"], 
                              sql_label,  #item["sql"], 
                              table_dict[db_name],  #table_dict[item["db_id"]], 
                                [], 
                                dataset)

In [36]:
dataset

{'agg_dataset': [{'gt_col': 2,
   'history': ['root', 'none', 'select', ('department', 'name', 2)],
   'label': [],
   'question_tokens': ['which',
    'department',
    'has',
    'the',
    'minimum',
    'budget',
    '?'],
   'ts': [['department', 'head', 'management'],
    [[-1, '*'],
     [0, 'department id'],
     [0, 'name'],
     [0, 'creation'],
     [0, 'ranking'],
     [0, 'budget in billions'],
     [0, 'num employees'],
     [1, 'head id'],
     [1, 'name'],
     [1, 'born state'],
     [1, 'age'],
     [2, 'department id'],
     [2, 'head id'],
     [2, 'temporary acting']],
    ['text',
     'number',
     'text',
     'text',
     'number',
     'number',
     'number',
     'number',
     'text',
     'text',
     'number',
     'number',
     'number',
     'text']]},
  {'gt_col': 5,
   'history': ['root',
    'none',
    'select',
    ('department', 'name', 2),
    'orderBy',
    ('department', 'budget in billions', 5)],
   'label': [],
   'question_tokens': ['which',
    'department',
    'has',
    'the',
    'minimum',
    'budget',
    '?'],
   'ts': [['department', 'head', 'management'],
    [[-1, '*'],
     [0, 'department id'],
     [0, 'name'],
     [0, 'creation'],
     [0, 'ranking'],
     [0, 'budget in billions'],
     [0, 'num employees'],
     [1, 'head id'],
     [1, 'name'],
     [1, 'born state'],
     [1, 'age'],
     [2, 'department id'],
     [2, 'head id'],
     [2, 'temporary acting']],
    ['text',
     'number',
     'text',
     'text',
     'number',
     'number',
     'number',
     'number',
     'text',
     'text',
     'number',
     'number',
     'number',
     'text']]}],
 'andor_dataset': [],
 'col_dataset': [{'history': ['root', 'none', 'select'],
   'label': [2],
   'question_tokens': ['which',
    'department',
    'has',
    'the',
    'minimum',
    'budget',
    '?'],
   'ts': [['department', 'head', 'management'],
    [[-1, '*'],
     [0, 'department id'],
     [0, 'name'],
     [0, 'creation'],
     [0, 'ranking'],
     [0, 'budget in billions'],
     [0, 'num employees'],
     [1, 'head id'],
     [1, 'name'],
     [1, 'born state'],
     [1, 'age'],
     [2, 'department id'],
     [2, 'head id'],
     [2, 'temporary acting']],
    ['text',
     'number',
     'text',
     'text',
     'number',
     'number',
     'number',
     'number',
     'text',
     'text',
     'number',
     'number',
     'number',
     'text']]},
  {'history': ['root', 'none', 'select', ('department', 'name', 2), 'orderBy'],
   'label': [5],
   'question_tokens': ['which',
    'department',
    'has',
    'the',
    'minimum',
    'budget',
    '?'],
   'ts': [['department', 'head', 'management'],
    [[-1, '*'],
     [0, 'department id'],
     [0, 'name'],
     [0, 'creation'],
     [0, 'ranking'],
     [0, 'budget in billions'],
     [0, 'num employees'],
     [1, 'head id'],
     [1, 'name'],
     [1, 'born state'],
     [1, 'age'],
     [2, 'department id'],
     [2, 'head id'],
     [2, 'temporary acting']],
    ['text',
     'number',
     'text',
     'text',
     'number',
     'number',
     'number',
     'number',
     'text',
     'text',
     'number',
     'number',
     'number',
     'text']]}],
 'des_asc_dataset': [{'gt_col': 5,
   'history': ['root',
    'none',
    'select',
    ('department', 'name', 2),
    'orderBy',
    ('department', 'budget in billions', 5),
    0],
   'label': 0,
   'question_tokens': ['which',
    'department',
    'has',
    'the',
    'minimum',
    'budget',
    '?'],
   'ts': [['department', 'head', 'management'],
    [[-1, '*'],
     [0, 'department id'],
     [0, 'name'],
     [0, 'creation'],
     [0, 'ranking'],
     [0, 'budget in billions'],
     [0, 'num employees'],
     [1, 'head id'],
     [1, 'name'],
     [1, 'born state'],
     [1, 'age'],
     [2, 'department id'],
     [2, 'head id'],
     [2, 'temporary acting']],
    ['text',
     'number',
     'text',
     'text',
     'number',
     'number',
     'number',
     'number',
     'text',
     'text',
     'number',
     'number',
     'number',
     'text']]}],
 'having_dataset': [],
 'keyword_dataset': [{'history': ['root', 'none'],
   'label': [2],
   'question_tokens': ['which',
    'department',
    'has',
    'the',
    'minimum',
    'budget',
    '?'],
   'ts': [['department', 'head', 'management'],
    [[-1, '*'],
     [0, 'department id'],
     [0, 'name'],
     [0, 'creation'],
     [0, 'ranking'],
     [0, 'budget in billions'],
     [0, 'num employees'],
     [1, 'head id'],
     [1, 'name'],
     [1, 'born state'],
     [1, 'age'],
     [2, 'department id'],
     [2, 'head id'],
     [2, 'temporary acting']],
    ['text',
     'number',
     'text',
     'text',
     'number',
     'number',
     'number',
     'number',
     'text',
     'text',
     'number',
     'number',
     'number',
     'text']]}],
 'multi_sql_dataset': [{'history': ['root'],
   'label': 0,
   'question_tokens': ['which',
    'department',
    'has',
    'the',
    'minimum',
    'budget',
    '?'],
   'ts': [['department', 'head', 'management'],
    [[-1, '*'],
     [0, 'department id'],
     [0, 'name'],
     [0, 'creation'],
     [0, 'ranking'],
     [0, 'budget in billions'],
     [0, 'num employees'],
     [1, 'head id'],
     [1, 'name'],
     [1, 'born state'],
     [1, 'age'],
     [2, 'department id'],
     [2, 'head id'],
     [2, 'temporary acting']],
    ['text',
     'number',
     'text',
     'text',
     'number',
     'number',
     'number',
     'number',
     'text',
     'text',
     'number',
     'number',
     'number',
     'text']]}],
 'op_dataset': [],
 'root_tem_dataset': []}

In [41]:
component = "col"
name_dataset = component + "_dataset"
# dataset[name_dataset]

In [40]:
dataset[name_dataset][0]["question_tokens"]

['which', 'department', 'has', 'the', 'minimum', 'budget', '?']

In [42]:
dataset[name_dataset][0]["history"]

['root', 'none', 'select']

In [43]:
dataset[name_dataset][0]["label"]

[2]